#gallery img {
    width: 100%;
    border: 1px solid #D2D2D2;
    cursor: pointer;
    margin: 0px .5em .5em 0px;
}
#gallery img:hover {
    -webkit-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    border: 1px inset rgb(100, 100, 100);
}
#overlay {
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
    padding-bottom: 100%;
}
#overlay > img {
    position: absolute;
}
.disable-scroll {
    overflow-x: hidden;
    overflow-y: hidden;
}
#close-overlay-btn {
    display:none;
    position: absolute;
top: 0;
right: 0;
color: white;
font-size: 2em;
cursor: pointer;
padding: 10px;
}