	body {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 14px;
		line-height: 1.42857143;
		color: #333;
	}
	a {
		color: #337ab7;
		text-decoration: none;
	}
	a:focus, a:hover {
		color: #23527c;
		text-decoration: underline;
	}
	p.header {
		font-size: 1.5em;
		font-weight: lighter;
	}
	p.footer {
		font-size: x-small;
	}
	div.broken,
	div.missing {
		margin: auto;
		position: relative;
		top: 50%;
		width: 193px;
	}
	div.broken a,
	div.missing a {
		height: 63px;
		position: relative;
		top: -31px;
	}
	div.broken img,
	div.missing img {
		border-width: 0px;
	}
	div.broken {
		display: none;
	}
	div#unityPlayer {
		margin:auto;
		cursor: default;
		height: 600px;
		width: 960px;
	}
	.container {
		text-align: center;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	.container > .back-link {
		text-align: left;
	}
	@media (min-width: 768px) {
		.container {
			width: 750px;
		}
	}
	@media (min-width: 992px) {
		.container {
			width: 970px;
		}
	}
	@media (min-width: 1200px) {
		.container {
			width: 1170px;
		}
	}